body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  border: 1px solid #bebebe;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.rbc-calendar {
  width: 80%;
}
.rbc-btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.rbc-time-view {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input,
.modal-content button {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
  .content {
    margin: auto;
  }
  .sidebar {
    width: 100%;
  }

  .rbc-calendar {
    width: 100%;
  }
  .rbc-btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .rbc-time-view {
    width: 100%;
  }
}
